$sideBarBgColor:#070c1c;
$aboutBgColor:#5366C3;
$cvBgColor:#3F83C0;
$projectsBgColor:#2AA1BD;
$skillColor:#BF8563;
$menuWidth: 200px;
$smallBoxWidth: 10px;
$fontLightColor:rgba(255,255,255,0.8);
$fontGrayColor:#666;
$sideGap:20px;
$topGap:30px;
$betweenGap:20px;
$bigScreenSidePadding: 50px;
$rightEckeLang: 20px;