@use './variables' as *;
@use './mixins' as *;

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: $sideBarBgColor;
    position: relative;
    z-index: -2;
}
main{
    position: relative;
    .glow {
        position: relative;
        width: 0;
        height: 0;
        border-radius: 50%;
        border-width: 10px;
        box-shadow: 0 0 150px 150px  rgba(255, 255, 255, 0.1);
        pointer-events: none; 
        z-index: 10;
    }
    .sidebar{
        background-color:$sideBarBgColor;
        color: $fontLightColor;

        .headerImage{
            width: 100%;
            height: 250px;
            background-color: rgb(87, 29, 3);
            overflow: hidden;

            p:hover{
                mix-blend-mode:lighten;
                font-size: 8px;
            }
            p{
                width: 100%;
                height: 100%;
                font-size: 4px;
                background-image: url("../images/photo-1478098711619-5ab0b478d6e6.avif");
                background-size:cover;
                background-position: center;
                background-clip: text;
                filter: grayscale(0.7);
                mix-blend-mode: hard-light;
                transition: 1s ease-in;
            }
            @media (min-width: 768px) {
                &{
                    height: 150px;
                }
            }
        }  
        h1,.shortText,#socialMediaIcon{
            margin-top: $betweenGap;
            margin-left: $sideGap;
            margin-right: $sideGap;
            @media (min-width: 768px) {
                &{
                    margin-left: 0;
                }
            }

        }
        #socialMediaIcon{
            padding-bottom:  $betweenGap;
            display: flex;
            @media (min-width: 768px) {
                &{
                    margin-top: 10%;
                }
            }
            .iconBox{
                text-decoration: none;
                color: $fontLightColor;
                margin-right: 3%;
                transition: 1.5s;
                font-size: 1.2rem;
                &:hover{
                    transform: scale(1.5) rotate(360deg);
                }
            }
        }
        @media (min-width: 768px) {
            &{
                width: 40vw;
                position: fixed;
                padding-top: $topGap;
                padding-left: $bigScreenSidePadding;
                height: 100vh;
                flex-shrink: 0;
            }
        }
    }
    #navOptions{
        background-color: $sideBarBgColor;
        padding-left: $sideGap;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: sticky;
        top: 0;
        background-color: #666;
        z-index: 5;
        .menuOption{
            width: auto;
            height: 30px;
            display: flex;
            position: relative;
            background-color: #666;
            @media (min-width: 768px) {
                background-color: $sideBarBgColor;
            }
        }
        .menuAndhor,.menuAndhor::after{
            height: 100%;
            display: block;
            display: flex;
            align-items: center;
            text-decoration:none;
            text-transform: uppercase;
            color: black;
            letter-spacing: 2px;

            @media (min-width: 768px) {
                color: $fontGrayColor;
            }
        }
        .smallbox{
            width: $smallBoxWidth;
            height: 100%;
        }
        .aboutSmallbox{
            background-color: $aboutBgColor;
        }
        .cvSmallbox{
            background-color: $cvBgColor;
        }
        .projectsSmallbox{
            background-color: $projectsBgColor;
        }
        .menuAndhor::after{
            position: absolute;
            color: $fontLightColor;
            width: 0;
            overflow: hidden;
            left: $smallBoxWidth;
            transition: width 1s ease-in-out;
        }
        .aboutAnchor::after{
            content: "\00a0 About";
            background-color:#5366C3 ;
        }
        .cvAnchor::after{
            content: "\00a0 Experience";
            background-color:#3F83C0 ;
        }
        .projectsAnchor::after{
            content: "\00a0 Projects";
            background-color:#2AA1BD ;
        }
        .menuOption:hover{
            .menuAndhor::after{
                width: calc($menuWidth - $smallBoxWidth);
            }
        }
        @media (min-width: 768px) {
            &{
                width: 200px;
                display: initial;
                position: fixed;
                padding-left: $bigScreenSidePadding;
                top: 75vh;
                background-color: $sideBarBgColor;
            }
        }
    }
    .sections{
        background-color: $sideBarBgColor;
        color: $fontLightColor;
        padding: $topGap $sideGap;
        #about{
            border: 1px solid $aboutBgColor;
            .rightEcke{
                @include paperRightEcke;
                border-bottom: $rightEckeLang solid $aboutBgColor;
                border-left: $rightEckeLang solid $aboutBgColor;
            }
            h2{
                @include sectionTitle;
            }
            .selfPic{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-image: url("../images/IMG_8410.jpg");
                background-size: cover;
                background-position: center;
                float: right;
                margin: 5px;
            }
        }
        #cv{
            border: 1px solid $cvBgColor;
            .rightEcke{
                border-bottom: $rightEckeLang solid $cvBgColor;
                border-left: $rightEckeLang solid $cvBgColor;
                @include paperRightEcke;
            }
            h2{
                @include sectionTitle;
            }
            .workExp{
                display: grid;
                grid-template-columns: 100px 1fr;
                margin-bottom: $betweenGap;
                height: auto;
                overflow: visible;
                span{
                    @include skillSpan;
                }
                @media (max-width: 768px) {
                    display: flex;
                    flex-direction: column;        // 改成竖着排
                    // align-items: center;           // 图片和文字居中（可选）
                
                    p, span {
                        text-align: left;
                    }
                    .workYears{
                        display: flex;
                        gap:1px;
                    }
                }
            }
            #hausefrau{
                height: 140px;
                overflow: hidden;
                #flipperContainer{
                    perspective: 1000px; 
                    &:hover #flipper{
                        transform: rotateX(180deg); 
                    }
                    #flipper{
                        transition: 0.6s; 
                        transform-style: preserve-3d; 
                        position: relative;
                        width: 100%;
                        height: 100%;
                        #back {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            padding: $betweenGap;
                            backface-visibility: hidden; 
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #666;
                            transform: rotateX(180deg); 
                            min-height: 100%;
                            box-sizing: border-box;
                        }
                        #front{
                            position: absolute;
                        }
                    }
                }
                @media (max-width: 768px) {
                    height: auto !important;
                    overflow: visible !important;
                
                    #flipperContainer {
                    perspective: none;
                    }
                
                    #flipper {
                    transform: none !important;
                    height: auto !important;

                    }
                
                    #front, #back {
                    position: static !important;
                    transform: none !important;
                    backface-visibility: visible !important;
                    display: block !important;
                    margin-top: 10px;

                    }
                }
            }
            .cvAction{
                .buttonItem {
                    text-decoration: none;
                    color: $fontLightColor;
                    padding: 0.5rem 1rem;
                    display: inline-block;
                    transform: translateY(0);
                    text-align: center;
                    width: 150px;
                    height: 30px;
                    background-color: $buttonCvColor;
                    box-shadow: 0 0 3px 1px rgba(246, 244, 244, 0.5);
                    transition: 0.3s;
                    margin-right: $betweenGap;
                    margin-bottom: $betweenGap;
                    border-radius: 5px;
                }
                .buttonItem:hover {
                    transform: translateY(-10px);
                    box-shadow: 0 3px 10px 2px rgba(249, 248, 248, 0.5);
                }
            }
        }
        #projects{
            border: 1px solid $projectsBgColor;
        #projectItems{
                display: flex;
                flex-direction: column;
                gap: 50px;
            }
            .rightEcke{
                border-bottom: $rightEckeLang solid $projectsBgColor;
                border-left: $rightEckeLang solid $projectsBgColor;
                @include paperRightEcke;
            }
            h2{
                @include sectionTitle;
            }
            .projectItem{
                display: flex;
                margin-bottom: $betweenGap;
                .projectLink{
                    img{
                        width: 100px;
                        height: 80px;
                    }
                } 
                .projectTitle{
                    margin-left: 20%;
                    span{
                        @include skillSpan;
                    }
                }
                @media (max-width: 768px) {
                    flex-direction: column;        // 改成竖着排
                    align-items: center;           // 图片和文字居中（可选）
                
                    .projectTitle {
                      margin-left: 0;              // 去掉原来的左边距
                      text-align: center;          // 可选：文字居中对齐
                    }
                
                    .projectLink {
                      margin-bottom: 10px;         // 可选：图和文字之间加点距离
                    }
                    p, span {
                        text-align: left;
                    }
                }
            }
        }
        #about,#cv,#projects{
            padding: 20px;
            margin-bottom: $betweenGap;
            border-radius: 3px;
            position: relative;
        }
        @media (min-width: 768px) {
            &{
                margin-left: 40%;
                padding-right: $bigScreenSidePadding;
                padding-left: $bigScreenSidePadding;
            }
        }    
    }
}
footer{
    display: grid;
    grid-template-columns: auto 150px 1fr;
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: -1;
    height: 200px;
    .space{
        width: 30px;
        @media (min-width: 768px) {
            &{
                width: calc(40vw + 45px);
                height: 100%;
                background-color: $sideBarBgColor;
            }
        }
    }
    .wraper{
        background-color: $fontLightColor;
        margin-left: 15%;
        margin-top: 10px;
        .githubIcon{
            display: block;
            width: 128px;
            height: 128px;
            position: relative;
            background-image: url("../images/github-logo_icon-icons.com_73546.png");
            animation: righthand linear infinite;
            animation-duration: $footerAnimationDuration;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 64px;
                width: 64px;
                height: 128px;
                background-image: url("../images/github-logo_icon-icons.com_73546.png");
                transform: scaleX(-1);
            }
            .eye1{
                width: 12px;
                height: 5px;
                border-radius: 49% 51% 45% 55% / 100% 100% 0% 0% ;
                background-color: #666;
                position: absolute;
                top: 58px;
                left: 40px;
                transform: scale(0);
                animation: eyes $footerAnimationDuration linear infinite;
                &::before{
                    content: "";
                    width: 12px;
                    height: 3px;
                    border-radius: 49% 51% 45% 55% / 100% 100% 0% 0% ;
                    background-color: white;
                    position: absolute;
                    top: 3px;
                    left: 0;
                }
            }
            .eye2{
                width: 12px;
                height: 5px;
                border-radius: 49% 51% 45% 55% / 100% 100% 0% 0% ;
                background-color: #666;
                position: absolute;
                top: 58px;
                left: 73px;
                transform: scale(0);
                animation: eyes linear infinite;
                animation-duration: $footerAnimationDuration;
                &::before{
                    content: "";
                    width: 12px;
                    height: 3px;
                    border-radius: 49% 51% 45% 55% / 100% 100% 0% 0% ;
                    background-color: white;
                    position: absolute;
                    top: 3px;
                    left: 0;
                }
            }           
            @keyframes righthand {
                from {
                    width: 64px;
                }
                79%{
                    width: 64px;
                }
                80%{
                    width: 128px;
                }
                to{
                    width: 128px;
                }
            }
            @keyframes eyes{
                from {
                    transform: scale(1);
                }
                79%{
                    transform: scale(1);
                }
                80%{
                    transform: scale(0);
                }
                to{
                    transform: scale(0);
                }
            }
         }
    }
    .textwraper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // color: $fontGrayColor;
        // background-color: red;
        margin-left: 20px;
        .copyrightBall{
            width: 1rem;
            height: 1rem;
            animation: ballMove $footerAnimationDuration linear infinite;
        }
    }
    @keyframes ballMove {
        from{
            transform: translateX(0) translateY(0);
        }
        10%{
            transform: translateX(calc(var(--container-width) * 0.15)) translateY(50px) ;
        }
        16%{
            transform: translateX(calc(var(--container-width) * 0.25)) translateY(25px);
        }
        25%{
            transform: translateX(calc(var(--container-width) * 0.35)) translateY(50px) rotate(0);
        }
        to{
            transform: translateX(calc(var(--container-width) - 1rem))  translateY(50px) rotate(360deg);
        }
    }
    @media (min-width: 768px) {
        &{
            margin-right: $bigScreenSidePadding;
        }
    }
}
